
.row:before {
  content:" ";
  display:table;
}

.row:after {
  content:" ";
  display:table;
  clear:both;
}

.row  {
  width:100%;
  max-width:1200px;
  *zoom:1;
}

.row [class*="coffee-span-"] {
  padding-left:8px;
  padding-right:8px;
  float:left;
}

.row .coffee-span-1 {
  width:8.333333333333332%;
}

.row .coffee-span-2 {
  width:16.666666666666664%;
}

.row .coffee-span-3 {
  width:25%;
}

.row .coffee-span-4 {
  width:33.33333333333333%;
}

.row .coffee-span-5 {
  width:41.666666666666664%;
}

.row .coffee-span-6 {
  width:50%;
}

.row .coffee-span-7 {
  width:58.33333333333333%;
}

.row .coffee-span-8 {
  width:66.66666666666666%;
}

.row .coffee-span-9 {
  width:75%;
}

.row .coffee-span-10 {
  width:83.33333333333333%;
}

.row .coffee-span-11 {
  width:91.66666666666666%;
}

.row .coffee-span-12 {
  width:100%;
}

[class*="coffee-span-"]>.subgrid  {
  margin-left:-8px;
  margin-right:-8px;
}

.row .coffee-offset-0 {
  margin-left:0%;
}

.row .coffee-offset-1 {
  margin-left:8.333333333333332%;
}

.row .coffee-offset-2 {
  margin-left:16.666666666666664%;
}

.row .coffee-offset-3 {
  margin-left:25%;
}

.row .coffee-offset-4 {
  margin-left:33.33333333333333%;
}

.row .coffee-offset-5 {
  margin-left:41.666666666666664%;
}

.row .coffee-offset-6 {
  margin-left:50%;
}

.row .coffee-offset-7 {
  margin-left:58.33333333333333%;
}

.row .coffee-offset-8 {
  margin-left:66.66666666666666%;
}

.row .coffee-offset-9 {
  margin-left:75%;
}

.row .coffee-offset-10 {
  margin-left:83.33333333333333%;
}

.row .coffee-offset-11 {
  margin-left:91.66666666666666%;
}

.row [class*="coffee-push-"] {
  position:relative;
}

.row .coffee-push-11 {
  left:91.66666666666666%;
}

.row .coffee-push-10 {
  left:83.33333333333333%;
}

.row .coffee-push-9 {
  left:75%;
}

.row .coffee-push-8 {
  left:66.66666666666666%;
}

.row .coffee-push-7 {
  left:58.33333333333333%;
}

.row .coffee-push-6 {
  left:50%;
}

.row .coffee-push-5 {
  left:41.666666666666664%;
}

.row .coffee-push-4 {
  left:33.33333333333333%;
}

.row .coffee-push-3 {
  left:25%;
}

.row .coffee-push-2 {
  left:16.666666666666664%;
}

.row .coffee-push-1 {
  left:8.333333333333332%;
}

.row .coffee-push-0 {
  left:auto;
}

.row [class*="coffee-pull-"] {
  position:relative;
}

.row .coffee-pull-11 {
  right:91.66666666666666%;
}

.row .coffee-pull-10 {
  right:83.33333333333333%;
}

.row .coffee-pull-9 {
  right:75%;
}

.row .coffee-pull-8 {
  right:66.66666666666666%;
}

.row .coffee-pull-7 {
  right:58.33333333333333%;
}

.row .coffee-pull-6 {
  right:50%;
}

.row .coffee-pull-5 {
  right:41.666666666666664%;
}

.row .coffee-pull-4 {
  right:33.33333333333333%;
}

.row .coffee-pull-3 {
  right:25%;
}

.row .coffee-pull-2 {
  right:16.666666666666664%;
}

.row .coffee-pull-1 {
  right:8.333333333333332%;
}

.row .coffee-pull-0 {
  right:auto;
}

.show_grid_structure>.row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}

.show_subgrid_structure>.row .row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}
@media screen and (max-width: 768px) {
.row [class*="coffee-768-span-"] {
  padding-left:8px;
  padding-right:8px;
  float:left;
}

.row .coffee-768-span-1 {
  width:8.333333333333332%;
}

.row .coffee-768-span-2 {
  width:16.666666666666664%;
}

.row .coffee-768-span-3 {
  width:25%;
}

.row .coffee-768-span-4 {
  width:33.33333333333333%;
}

.row .coffee-768-span-5 {
  width:41.666666666666664%;
}

.row .coffee-768-span-6 {
  width:50%;
}

.row .coffee-768-span-7 {
  width:58.33333333333333%;
}

.row .coffee-768-span-8 {
  width:66.66666666666666%;
}

.row .coffee-768-span-9 {
  width:75%;
}

.row .coffee-768-span-10 {
  width:83.33333333333333%;
}

.row .coffee-768-span-11 {
  width:91.66666666666666%;
}

.row .coffee-768-span-12 {
  width:100%;
}

[class*="coffee-768-span-"]>.subgrid  {
  margin-left:-8px;
  margin-right:-8px;
}

.row .coffee-768-offset-0 {
  margin-left:0%;
}

.row .coffee-768-offset-1 {
  margin-left:8.333333333333332%;
}

.row .coffee-768-offset-2 {
  margin-left:16.666666666666664%;
}

.row .coffee-768-offset-3 {
  margin-left:25%;
}

.row .coffee-768-offset-4 {
  margin-left:33.33333333333333%;
}

.row .coffee-768-offset-5 {
  margin-left:41.666666666666664%;
}

.row .coffee-768-offset-6 {
  margin-left:50%;
}

.row .coffee-768-offset-7 {
  margin-left:58.33333333333333%;
}

.row .coffee-768-offset-8 {
  margin-left:66.66666666666666%;
}

.row .coffee-768-offset-9 {
  margin-left:75%;
}

.row .coffee-768-offset-10 {
  margin-left:83.33333333333333%;
}

.row .coffee-768-offset-11 {
  margin-left:91.66666666666666%;
}

.row [class*="coffee-768-push-"] {
  position:relative;
}

.row .coffee-768-push-11 {
  left:91.66666666666666%;
}

.row .coffee-768-push-10 {
  left:83.33333333333333%;
}

.row .coffee-768-push-9 {
  left:75%;
}

.row .coffee-768-push-8 {
  left:66.66666666666666%;
}

.row .coffee-768-push-7 {
  left:58.33333333333333%;
}

.row .coffee-768-push-6 {
  left:50%;
}

.row .coffee-768-push-5 {
  left:41.666666666666664%;
}

.row .coffee-768-push-4 {
  left:33.33333333333333%;
}

.row .coffee-768-push-3 {
  left:25%;
}

.row .coffee-768-push-2 {
  left:16.666666666666664%;
}

.row .coffee-768-push-1 {
  left:8.333333333333332%;
}

.row .coffee-768-push-0 {
  left:auto;
}

.row [class*="coffee-768-pull-"] {
  position:relative;
}

.row .coffee-768-pull-11 {
  right:91.66666666666666%;
}

.row .coffee-768-pull-10 {
  right:83.33333333333333%;
}

.row .coffee-768-pull-9 {
  right:75%;
}

.row .coffee-768-pull-8 {
  right:66.66666666666666%;
}

.row .coffee-768-pull-7 {
  right:58.33333333333333%;
}

.row .coffee-768-pull-6 {
  right:50%;
}

.row .coffee-768-pull-5 {
  right:41.666666666666664%;
}

.row .coffee-768-pull-4 {
  right:33.33333333333333%;
}

.row .coffee-768-pull-3 {
  right:25%;
}

.row .coffee-768-pull-2 {
  right:16.666666666666664%;
}

.row .coffee-768-pull-1 {
  right:8.333333333333332%;
}

.row .coffee-768-pull-0 {
  right:auto;
}

.show_grid_structure>.row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}

.show_subgrid_structure>.row .row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}
}

@media screen and (max-width: 480px) {
.row [class*="coffee-480-span-"] {
  padding-left:8px;
  padding-right:8px;
  float:left;
}

.row .coffee-480-span-1 {
  width:8.333333333333332%;
}

.row .coffee-480-span-2 {
  width:16.666666666666664%;
}

.row .coffee-480-span-3 {
  width:25%;
}

.row .coffee-480-span-4 {
  width:33.33333333333333%;
}

.row .coffee-480-span-5 {
  width:41.666666666666664%;
}

.row .coffee-480-span-6 {
  width:50%;
}

.row .coffee-480-span-7 {
  width:58.33333333333333%;
}

.row .coffee-480-span-8 {
  width:66.66666666666666%;
}

.row .coffee-480-span-9 {
  width:75%;
}

.row .coffee-480-span-10 {
  width:83.33333333333333%;
}

.row .coffee-480-span-11 {
  width:91.66666666666666%;
}

.row .coffee-480-span-12 {
  width:100%;
}

[class*="coffee-480-span-"]>.subgrid  {
  margin-left:-8px;
  margin-right:-8px;
}

.row .coffee-480-offset-0 {
  margin-left:0%;
}

.row .coffee-480-offset-1 {
  margin-left:8.333333333333332%;
}

.row .coffee-480-offset-2 {
  margin-left:16.666666666666664%;
}

.row .coffee-480-offset-3 {
  margin-left:25%;
}

.row .coffee-480-offset-4 {
  margin-left:33.33333333333333%;
}

.row .coffee-480-offset-5 {
  margin-left:41.666666666666664%;
}

.row .coffee-480-offset-6 {
  margin-left:50%;
}

.row .coffee-480-offset-7 {
  margin-left:58.33333333333333%;
}

.row .coffee-480-offset-8 {
  margin-left:66.66666666666666%;
}

.row .coffee-480-offset-9 {
  margin-left:75%;
}

.row .coffee-480-offset-10 {
  margin-left:83.33333333333333%;
}

.row .coffee-480-offset-11 {
  margin-left:91.66666666666666%;
}

.row [class*="coffee-480-push-"] {
  position:relative;
}

.row .coffee-480-push-11 {
  left:91.66666666666666%;
}

.row .coffee-480-push-10 {
  left:83.33333333333333%;
}

.row .coffee-480-push-9 {
  left:75%;
}

.row .coffee-480-push-8 {
  left:66.66666666666666%;
}

.row .coffee-480-push-7 {
  left:58.33333333333333%;
}

.row .coffee-480-push-6 {
  left:50%;
}

.row .coffee-480-push-5 {
  left:41.666666666666664%;
}

.row .coffee-480-push-4 {
  left:33.33333333333333%;
}

.row .coffee-480-push-3 {
  left:25%;
}

.row .coffee-480-push-2 {
  left:16.666666666666664%;
}

.row .coffee-480-push-1 {
  left:8.333333333333332%;
}

.row .coffee-480-push-0 {
  left:auto;
}

.row [class*="coffee-480-pull-"] {
  position:relative;
}

.row .coffee-480-pull-11 {
  right:91.66666666666666%;
}

.row .coffee-480-pull-10 {
  right:83.33333333333333%;
}

.row .coffee-480-pull-9 {
  right:75%;
}

.row .coffee-480-pull-8 {
  right:66.66666666666666%;
}

.row .coffee-480-pull-7 {
  right:58.33333333333333%;
}

.row .coffee-480-pull-6 {
  right:50%;
}

.row .coffee-480-pull-5 {
  right:41.666666666666664%;
}

.row .coffee-480-pull-4 {
  right:33.33333333333333%;
}

.row .coffee-480-pull-3 {
  right:25%;
}

.row .coffee-480-pull-2 {
  right:16.666666666666664%;
}

.row .coffee-480-pull-1 {
  right:8.333333333333332%;
}

.row .coffee-480-pull-0 {
  right:auto;
}

.show_grid_structure>.row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}

.show_subgrid_structure>.row .row {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" width="100%" height="100%"><g style="fill:#FFF; fill-opacity:0; stroke:rgb(200,200,200); stroke-opacity:0.16; stroke-width:16px"><rect width="8.333333333333332%" height="200%" y="-50%" x="-8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="0%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="8.333333333333332%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="16.666666666666664%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="24.999999999999996%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="33.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="41.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="49.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="58.33333333333333%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="66.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="74.99999999999999%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="83.33333333333331%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="91.66666666666666%"></rect><rect width="8.333333333333332%" height="200%" y="-50%" x="99.99999999999999%"></rect></g></svg>');
  background-repeat:no-repeat, no-repeat;
}
}
