/* Text Elements */

h1.hero-header {
  color: #222;
  text-transform: capitalize;
  font-weight: 400;
  font-style: italic;
  font-size: 33px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h1.hero-header a.link-color {
  color: #222;
}

h2 {
  color: #222;
  font-weight: 700;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h2.main_title {
  padding-bottom: 10px;
  padding-left: 0;
  color: #2d8bac;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: .9;
}

h3 {
  margin-left: 0;
  padding-left: 0;
  color: #fff;
  font-weight: 700;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
}

h3.about_title {
  display: block;
  float: left;
  margin: 0;
  padding: 20px;
  max-width: 940px;
  background-color: #fff;
  color: #222;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h3.rating_heading {
  clear: left;
  width: 100%;
  color: #5a7687;
  font-weight: 400;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h3.contact_title {
  max-width: 400px;
  text-align: right;
  font-weight: 400;
  font-size: 40px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: .9;
}

h5 {
  padding-left: 0;
  color: rgba(34, 34, 34, .54);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

h5 span.strong {
  font-weight: 700;
}

h5.block_overlay {
  margin-bottom: 15px;
  margin-left: 5%;
  padding-left: 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1;
}

h5.list_title {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 28px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h6 {
  color: #222;
  text-align: center;
  font-style: italic;
  font-size: 28px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1;
}

h6.footer_info {
  float: none;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  color: #fff;
  text-align: left;
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
}

h6.customer_info {
  float: left;
  margin-top: 18px;
  margin-right: auto;
  margin-left: 0;
  padding-left: 20px;
  color: #53695f;
  text-align: left;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
}

h6.about_subtitle {
  display: inline-block;
  float: left;
  clear: left;
  margin: 0 auto;
  padding: 20px;
  max-width: 940px;
  background-color: rgba(48, 48, 48, .90);
  color: #fff;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 17px;
  font-family: Cambria, Georgia, serif;
}

h6.context_links {
  text-align: left;
  font-size: 17px;
}

h6 span.small_text {
  font-style: italic;
  font-size: 16px;
}

h6.feature-heading {
  color: #222;
  text-align: left;
  font-size: 30px;
}

h6.gallery-heading {
  margin-bottom: 0;
  font-size: 32px;
}

p.paragraph {
  color: #414141;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

p.paragraph a.link-color {
  color: #94d0df;
}

p.paragraph.image_description {
  padding-right: 20px;
  padding-left: 20px;
  color: #454545;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

p.paragraph.footer_contact {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  width: 100%;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: color;
     -moz-transition-property: color;
      -ms-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
}

p.paragraph.footer_social {
  float: none;
  width: 100%;
  color: #565b63;
  font-weight: 700;
  font-size: 13px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: color;
     -moz-transition-property: color;
      -ms-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
}

p.paragraph a.contact_link {
  color: #565b63;
  text-decoration: none;
}

p.paragraph.main_paragraph {
  padding-left: 0;
  font-weight: 700;
  font-size: 12px;
}

p.paragraph.block_overlay {
  margin-left: 5%;
  padding-left: 0;
}

p.paragraph.block_overlay.main_paragraph {
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgba(255, 255, 255, .55);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

p.paragraph span.room_rating {
  color: #a3a3a3;
}

p.paragraph.map_text {
  padding-right: 0;
  padding-left: 0;
  max-width: 400px;
  color: #163239;
  text-align: right;
}

p.paragraph.subtext {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

p.paragraph.copyright {
  float: left;
  margin-bottom: 0;
  color: #bfbfbf;
  font-weight: 400;
  font-size: 14px;
}

p.paragraph.paragraph-1 {
  color: #414141;
}

p.paragraph.feature-paragraph {
  color: #414141;
}

p.paragraph.room_text {
  margin-top: 18px;
}

p.paragraph.gallery-caption {
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  color: #454545;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

p.paragraph a.link-color:hover {
  color: #36869a;
}

p.paragraph.footer_social:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

p.paragraph a.contact_link:hover {
  color: #fff;
}

p.paragraph.footer_contact:hover {
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

ul.unorder-list {
  margin-right: 10%;
  margin-bottom: 7px;
  margin-left: 0;
  width: auto;
  list-style-type: none;
}

ul.unorder-list.foooter_info {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

ul.unorder-list.context_links {
  margin-right: auto;
  margin-left: auto;
}

span.text-element.form-note {
  margin-top: 0;
  margin-right: 0;
  color: #bfbfbf;
  font-family: 'Roboto', sans-serif;
}

span.text-element.contact-note {
  margin-top: 0;
  margin-right: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a.link-text {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  max-width: none;
  color: #5c98ce;
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a.link-text.active_navlink {
  border-bottom: 2px solid #718fc2;
  color: #577bbe;
  text-align: center;
}

a.link-text.navlink {
  color: #818d98;
  text-align: center;
}

a.link-text:hover {
  color: #a3a3a3;
}

/* Common Elements */

.placeholder-hero {
  padding-left: 0;
  width: auto;
  background-color: transparent;
}

/* Interaction Elements */

button[type=submit].newsletter-submit {
  margin-left: 0;
  max-width: none;
  width: 100%;
  background-color: #565b63;
}

button[type=submit] {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 30px;
  font-size: 18px;
  font-family: Cambria, Georgia, serif;
}

button[type=submit].contact-submit {
  margin-top: 20px;
  margin-left: 0;
  padding: 13px 20px 12px;
  max-width: 180px;
  width: 100%;
  background-color: #203e4a;
  font-size: 16px;
}

a.link-button.block_overlay {
  position: static;
  top: auto;
  left: auto;
  display: inline-block;
  float: none;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 15px;
  width: auto;
  background-color: #303761;
  font-size: 14px;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

a.link-button.block_overlay.list_button {
  margin-right: 2%;
  margin-left: 0;
  background-color: #686c87;
}

a.link-button {
  font-size: 16px;
  line-height: 1.6;
}

a.link-button.book-now-button {
  position: relative;
  top: -20px;
  right: -45px;
  bottom: auto;
  left: auto;
  display: block;
  float: right;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: #7caddd;
  line-height: 1.2;
  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
      -ms-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: rotate(5deg) scale(1);
     -moz-transform: rotate(5deg) scale(1);
      -ms-transform: rotate(5deg) scale(1);
       -o-transform: rotate(5deg) scale(1);
          transform: rotate(5deg) scale(1);
}

a.link-button.block_overlay:hover {
  background-color: #75c148;
}

a.link-button.book-now-button:hover {
  background-color: #7caddd;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: all;
     -moz-transition-property: all;
      -ms-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
  -webkit-transform: matrix(.9961946980917455, .08715574274765817, -.08715574274765817, .9961946980917455, 0, 0) translateY(-5px) rotate(1deg) scale(1);
     -moz-transform: matrix(.9961946980917455, .08715574274765817, -.08715574274765817, .9961946980917455, 0, 0) translateY(-5px) rotate(1deg) scale(1);
      -ms-transform: matrix(.9961946980917455, .08715574274765817, -.08715574274765817, .9961946980917455, 0, 0) translateY(-5px) rotate(1deg) scale(1);
       -o-transform: matrix(.9961946980917455, .08715574274765817, -.08715574274765817, .9961946980917455, 0, 0) translateY(-5px) rotate(1deg) scale(1);
          transform: matrix(.9961946980917455, .08715574274765817, -.08715574274765817, .9961946980917455, 0, 0) translateY(-5px) rotate(1deg) scale(1);
}

a.link-button.block_overlay.list_button:hover {
  background-color: #9ea2c0;
}

input[type=text] {
  padding: 20px 15px;
  font-size: 18px;
  font-family: Cambria, Georgia, serif;
}

input[type=text].name-imput {
  max-width: none;
}

input[type=text].contact-imput {
  padding: 15px 10px;
  max-width: 500px;
  font-size: 16px;
}

input[type=email] {
  padding: 20px 15px;
  font-size: 18px;
  font-family: Cambria, Georgia, serif;
}

input[type=email].email-imput {
  max-width: none;
}

input[type=email].contact-imput {
  padding: 15px 10px;
  max-width: 500px;
  font-size: 16px;
}

/* Layout Elements */

body > .row {
  max-width: none;
  width: auto;
}

body > .row.navbar {
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 1200px;
  width: 100%;
}

body > .row > [class*='coffee-span-'].logo_icon {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;

  -webkit-justify-content: flex-start;
     -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
       -o-justify-content: flex-start;
          justify-content: flex-start;
}

body > .row.small-width {
  max-width: 1200px;
  width: 100%;
}

body > .row > [class*='coffee-span-'].info_block {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  opacity: 1;
}

body > .row.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #90b0c0;
  background-image: none;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

body > .row.copyright {
  padding: 50px 10px 100px;
  background-color: #bfb9ae;
  background-image: url('../copyrgith-bg.jpg');
  background-position: center center;
  background-size: cover;
}

body {
  height: auto;
}

body > .row.small_width {
  position: relative;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1200px;
  width: auto;
  height: auto;
  opacity: 1;
}

body > .row > [class*='coffee-span-'].block_overlay {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  padding: 80px 20px;
  min-height: 400px;
  background-color: rgba(69, 69, 69, .34);
  background-image: url('../highlighted-section-bg.jpg');
  background-position: center center;
  background-size: cover;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

body > .row > [class*='coffee-span-'].main_text_space {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
}

body > .row > [class*='coffee-span-']#room_text {
  padding-bottom: 20px;
}

body > .row > [class*='coffee-span-'].room_list {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  padding-left: 40px;
}

body > .row > [class*='coffee-span-'].room_info {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
}

body > .row#roomlist {
  padding-bottom: 70px;
}

body > .row.map_background_image {
  min-height: 500px;
  background-image: url('../map.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row > [class*='coffee-span-'].map_title {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  padding-right: 0;
  min-height: 500px;
  background-color: rgba(69, 69, 69, .49);

  -webkit-align-items: flex-end;
     -moz-align-items: flex-end;
      -ms-align-items: flex-end;
       -o-align-items: flex-end;
          align-items: flex-end;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row > [class*='coffee-span-']#map_form {
  -webkit-align-items: flex-start;
     -moz-align-items: flex-start;
      -ms-align-items: flex-start;
       -o-align-items: flex-start;
          align-items: flex-start;
}

body > .row#no_padding {
  padding-top: 0;
  padding-bottom: 0;
}

body > .row.location_background_image {
  background-color: #f6f2f2;
  background-image: url('../wind-rose.jpg');
  background-position: 80% -60%;
  background-repeat: no-repeat;
}

body > .row > [class*='coffee-span-'].column-1 {
  padding-bottom: 50px;
}

body > .row > [class*='coffee-span-'].full-width-column {
  padding-right: 0;
  padding-left: 0;
}

body > .row.rating-row {
  padding-top: 120px;
  background-color: #f3f5f8;
}

body > .row > [class*='coffee-span-'].column-2 {
  background-color: transparent;
  background-image: none;
  background-position: left center;
  background-size: cover;
}

body > .row > [class*='coffee-span-']#relax-enjoy {
  background-image: url('../relax-enjoy.jpg');
  background-size: cover;
}

body > .row > [class*='coffee-span-'].feature-column {
  padding: 40px;
  min-height: 600px;
}

body > .row > [class*='coffee-span-']#vacation-time {
  background-image: url('../vacation-time.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row.feature-row {
  background-color: #f3f5f8;
  background-image: url('../feature-row-bg.jpg');
  background-position: center top;
  background-size: auto auto;
  background-repeat: no-repeat;
}

body > .row > [class*='coffee-span-'].cover-resort {
  min-height: 600px;
  background-color: transparent;
  background-image: url('../cover-spa.jpg');
  background-position: center 70%;
  background-size: cover;
}

body > .row > [class*='coffee-span-'].cover-rooms {
  display: block;
  min-height: 600px;
  background-color: #a3a3a3;
  background-image: url('../hotel-951594_1280.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-align-content: flex-start;
     -moz-align-content: flex-start;
      -ms-align-content: flex-start;
       -o-align-content: flex-start;
          align-content: flex-start;
}

body > .row > [class*='coffee-span-'].cover-events {
  min-height: 600px;
  background-image: url('../cover-events.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row.rating-row.resort {
  background-color: #d3e9f0;
}

body > .row > [class*='coffee-span-'].cover-about {
  display: block;
  padding: 0 8px;
  min-height: 600px;
  background-color: #a3a3a3;
  background-image: url('../cover-about.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-align-content: flex-start;
     -moz-align-content: flex-start;
      -ms-align-content: flex-start;
       -o-align-content: flex-start;
          align-content: flex-start;
}

body > .row > [class*='coffee-span-'].info_block:active {
  opacity: 1;
}

.subgrid > .row > [class*='coffee-span-'].nav_links {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;

  -webkit-justify-content: flex-end;
     -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
       -o-justify-content: flex-end;
          justify-content: flex-end;
}

.subgrid > .row > [class*='coffee-span-'].location_list {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
}

li {
  color: #785c49;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

li.footer_info {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: #565b63;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: color;
     -moz-transition-property: color;
      -ms-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
}

span.glyph {
  margin-right: 0;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 2.49;
}

span.glyph.star {
  color: #e8b11a;
}

span.glyph.rating {
  float: left;
  margin-right: 1%;
  margin-left: 0;
  color: rgba(122, 128, 139, .6);
}

span.glyph.footer_align {
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 0;
  width: auto;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.row > [class*='coffee-span-'] > .container.footer_info {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
       -o-flex-direction: row;
          flex-direction: row;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  min-height: 28px;
  max-height: 30px;
  width: 100%;
  text-align: left;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-justify-content: flex-end;
     -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
       -o-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
     -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
       -o-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-end;
     -moz-align-content: flex-end;
      -ms-align-content: flex-end;
       -o-align-content: flex-end;
          align-content: flex-end;
}

span.glyph.rating.star {
  float: left;
  margin-right: 1%;
  color: #565b63;
}

li.context_links {
  font-size: 14px;
}

.row > [class*='coffee-span-'] > .container.block_overylay {
  padding: 50px;
  max-width: 930px;
  max-height: none;
  border: 4px none #fff;
  background-color: rgba(0, 0, 0, .51);
  background-image: none;
}

p.hero-tagline {
  color: #414141;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  font-family: Cambria, Georgia, serif;
  line-height: 1.3;
}

p.hero-tagline a.link-color {
  color: #a3a3a3;
}

.row > [class*='coffee-span-'] > .container.rating {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

div.responsive-picture.gallery_image {
  float: left;
  margin: 0 0 16px;
  max-width: none;
  width: 100%;
  border: 5px none #fff;
  border-top-left-radius: 0 5px;
  border-top-right-radius: 0 5px;
  border-bottom-right-radius: 0 5px;
  border-bottom-left-radius: 0 5px;
}

div.responsive-picture.room_image {
  max-width: 400px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.row > [class*='coffee-span-'] > .container.room_info {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.row > [class*='coffee-span-'] .subgrid.location {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 60px;
  min-height: 450px;
  max-width: 1200px;
  background-image: none;
  background-position: center center;
}

div.responsive-picture.full-width-image {
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.row > [class*='coffee-span-'] > .container.narrower-column-container {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.row > [class*='coffee-span-'] > .container.feature-content {
  overflow: visible;
  margin-top: 0;
  padding: 15px 30px;
  min-width: 10px;
  width: 80%;
  background-color: #fff;
}

a.link-button-image.avatar-button {
  float: left;
  overflow: hidden;
  padding: 0;
  max-width: 70px;
  border-top-left-radius: 35px 35px;
  border-top-right-radius: 35px 35px;
  border-bottom-right-radius: 35px 35px;
  border-bottom-left-radius: 35px 35px;
  background-color: transparent;
}

a.link-button-glyph.info-button {
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 30px;
  min-height: 100px;
  max-width: 100px;
  background-image: url('../watercolor-spot-1.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
}

span.glyph-for-button.info-button-icon {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  line-height: 1.6;
}

a.link-button-glyph.clean-easy.info-button {
  background-image: url('../watercolor-spot-2.jpg');
}

a.link-button-glyph.customer-service.info-button {
  background-image: url('../watercolor-spot-3.jpg');
}

.row > [class*='coffee-span-'] > form.form-container.newsletter-form {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
  max-width: 1200px;
}

.row > [class*='coffee-span-'] > .container.heading-titles-container {
  position: relative;
  top: 50px;
  right: auto;
  bottom: 0;
  left: 150px;
  display: inline-block;
  float: none;
  width: auto;
}

.row > [class*='coffee-span-'] .subgrid.gallery {
  margin: 70px 0;
}

.row > [class*='coffee-span-'] > form.form-container.contact-form {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
  max-width: 1200px;
}

li:hover {
  color: #222;
}

li.footer_info:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

span.glyph:active {
  color: #222;
}

@media screen and (max-width: 1060px) {
  /* Text Elements */

  h2.main_title {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  h3.about_title {
    padding: 15px;
    font-size: 26px;
  }

  h3.contact_title {
    font-size: 34px;
  }

  h6.feature-heading {
    font-size: 26px;
  }

  h6 {
    font-size: 26px;
  }

  h6.about_subtitle {
    padding: 15px;
  }

  p.paragraph {
    font-size: 15px;
  }

  a.link-text {
    font-size: 15px;
  }

  a.link-text.text-link-1 {
    padding-top: 10px;
  }

  /* Interaction Elements */

  button[type=submit] {
    padding: 8px 20px 7px;
    font-size: 16px;
  }

  button[type=submit].contact-submit {
    max-width: 150px;
    font-size: 15px;
  }

  a.link-button.book-now-button {
    top: -30px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1;
  }

  input[type=text] {
    padding: 10px;
    font-size: 16px;
  }

  input[type=text].contact-imput {
    padding: 10px 5px;
    max-width: none;
    font-size: 15px;
  }

  input[type=email] {
    padding: 10px;
    font-size: 16px;
  }

  input[type=email].contact-imput {
    padding: 10px 5px;
    max-width: none;
    font-size: 15px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].feature-column {
    padding: 20px;
    min-height: 450px;
  }

  body > .row.rating-row {
    padding-top: 50px;
  }

  body > .row.footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  body > .row > [class*='coffee-span-'].main_text_space {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  body > .row > [class*='coffee-span-'].info_block {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 8px;
  }

  body > .row.copyright {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  body > .row > [class*='coffee-span-'].cover-resort {
    min-height: 450px;
  }

  body > .row > [class*='coffee-span-'].cover-rooms {
    min-height: 450px;
  }

  body > .row > [class*='coffee-span-'].cover-events {
    min-height: 450px;
  }

  body > .row.map_background_image {
    min-height: 400px;
  }

  body > .row > [class*='coffee-span-'].map_title {
    min-height: 420px;
  }

  body > .row#roomlist {
    padding-bottom: 40px;
  }

  body > .row > [class*='coffee-span-'].cover-about {
    margin-top: 0;
    padding: 0 8px;
    min-height: 450px;
  }

  .row > [class*='coffee-span-'] > form.form-container.newsletter-form {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .row > [class*='coffee-span-'] > .container.feature-content {
    overflow: visible;
    width: auto;
  }

  .row > [class*='coffee-span-'] .subgrid.location {
    padding-top: 20px;
    min-height: 300px;
  }

  .row > [class*='coffee-span-'] > .container.heading-titles-container {
    top: 30px;
    left: 30px;
  }

  .row > [class*='coffee-span-'] > .container.narrower-column-container {
    width: 85%;
  }

  .row > [class*='coffee-span-'] .subgrid.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .row > [class*='coffee-span-'] > .container.rating {
    min-height: 20px;
  }
}

@media screen and (max-width: 645px) {
  /* Text Elements */

  h3.about_title {
    padding: 10px;
    font-size: 20px;
  }

  h3.contact_title {
    max-width: none;
    width: 90%;
    text-align: center;
    font-size: 26px;
  }

  h3 {
    font-size: 26px;
  }

  h6.footer_info {
    margin-top: 25px;
    margin-bottom: 0;
  }

  h6.about_subtitle {
    padding: 10px;
    font-size: 15px;
  }

  h6 {
    font-size: 24px;
  }

  h6.feature-heading {
    font-size: 24px;
  }

  p.paragraph.map_text {
    max-width: none;
    width: 90%;
    text-align: center;
  }

  p.paragraph.copyright {
    font-size: 12px;
  }

  /* Common Elements */

  .placeholder-hero.logo {
    margin-right: auto;
    margin-left: auto;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].info_block {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  body > .row > [class*='coffee-span-'].main_text_space {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  body > .row > [class*='coffee-span-'].block_overlay {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 200px;
  }

  body > .row.rating-row.resort {
    padding-top: 30px;
    padding-right: 0;
  }

  body > .row > [class*='coffee-span-'].room_list {
    margin-top: 0;
    padding-right: 8px;
    padding-left: 8px;
  }

  body > .row#roomlist {
    padding-bottom: 20px;
  }

  body > .row > [class*='coffee-span-'].map_title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    min-height: 200px;

    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
  }

  body > .row > [class*='coffee-span-'].cover-resort {
    min-height: 350px;
  }

  body > .row > [class*='coffee-span-'].cover-about {
    padding: 0 8px;
    min-height: 350px;
  }

  body > .row > [class*='coffee-span-'].cover-rooms {
    min-height: 350px;
  }

  body > .row > [class*='coffee-span-'].cover-events {
    min-height: 350px;
  }

  a.link-button-glyph.info-button {
    min-width: 0;
  }

  div.responsive-picture.room_image {
    max-width: none;
  }

  .row > [class*='coffee-span-'] > .container.heading-titles-container {
    top: 10px;
    left: 0;
  }

  .row > [class*='coffee-span-'] > form.form-container.contact-form {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 398px) {
  /* Text Elements */

  h1.hero-header {
    font-size: 28px;
  }

  h3.contact_title {
    font-size: 22px;
  }

  p.paragraph {
    font-size: 14px;
  }

  a.link-text.navlink {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
  }

  a.link-text.active_navlink {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
  }

  /* Interaction Elements */

  a.link-button.book-now-button {
    position: static;
    float: none;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].cover-resort {
    min-height: 250px;
  }

  body > .row > [class*='coffee-span-'].cover-about {
    min-height: 250px;
  }

  body > .row > [class*='coffee-span-'].cover-rooms {
    min-height: 250px;
  }

  body > .row > [class*='coffee-span-'].cover-events {
    min-height: 250px;
  }

  .subgrid > .row > [class*='coffee-span-'].nav_links {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
  }

  .row > [class*='coffee-span-'] > .container.feature-content {
    margin-top: 0;
    padding: 10px 20px 5px;
  }

  .row > [class*='coffee-span-'] > form.form-container.newsletter-form {
    padding-right: 0;
    padding-left: 0;
  }
}